<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="Standalone or ContentManagement">
    <settings>
      <!-- For testing, you can register for a free 7-day trial here: https://azure.microsoft.com/en-us/services/cognitive-services/text-analytics/ -->
      <setting name="AzureCognitiveServicesTextAnalytics.Endpoint" value="https://westcentralus.api.cognitive.microsoft.com" />
      <setting name="AzureCognitiveServicesTextAnalytics.Key" value="" />
      <setting name="AzureCognitiveServicesTextAnalytics.NamedEntities.IncludeOther" value="Advertising|Investment|Telecommunication" />
      <setting name="AzureCognitiveServicesTextAnalytics.NamedEntities.IncludeQuantity" value="401|529" />
      <setting name="AzureCognitiveServicesTextAnalytics.NamedEntities.Exclude" value="United States|America|U.S.|Company|Office|US" />
    </settings>
    <contentTagging>
      <configurations>
        <config name="Default">
          <discovery>
            <provider name="AzureCognitiveServicesTextAnalyticsNamedEntitiesDiscoveryProvider"/>
          </discovery>
        </config>
      </configurations>
      <providers>
        <discovery>
          <add name="AzureCognitiveServicesTextAnalyticsNamedEntitiesDiscoveryProvider" type="OneNorth.SitecoreTextAnalytics.ContentTagging.Providers.AzureCognitiveServicesTextAnalyticsNamedEntitiesDiscoveryProvider, OneNorth.SitecoreTextAnalytics" />
        </discovery>
      </providers>
      <fieldMap>
        <fieldNames>
          <field fieldName="Title">
            <patch:delete />
          </field>
          <field fieldName="Text"/>
        </fieldNames>
      </fieldMap>
      <azureCognitiveServicesTextAnalyticsNamedEntities>
        <entityNameReplacements>
          <replace replacement="United States" pattern="U\.S\." />
          <replace replacement="United States" pattern="U\.S" />
          <replace replacement="United States " pattern="US " />
          <replace replacement="" pattern="Read More" />
          <replace replacement="" pattern="^the " />
          <replace replacement="Sitecore" pattern="^.*Sitecore.*$" />
        </entityNameReplacements>
      </azureCognitiveServicesTextAnalyticsNamedEntities>
    </contentTagging>
  </sitecore>
</configuration>